.app__about {
    flex: 1;
    flex-direction: column;
    width: 100%;
    // height: 100vh;
    position: relative;
}

.app__profiles {
 display: flex;
 justify-content: center;
 align-items: flex-start;
 flex-wrap: wrap;
 margin-top: 2rem;
}

.app__profiles-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem;
    
    width: 190px;

    img{
        width: 100%;
        height: 170px;
        border-radius: 15px;
        object-fit: contain;
    }

    @media screen and (min-width : 2000px){
        width: 370px;
        margin: 2rem 4rem;

        img{
        
        height: 320px;
      
    }
    }
}